
ul{
    margin-left: auto;
}


.navbar {
    
    background-color: white;
  
    padding: 30px !important;
    margin: 0 10px 0 10px !important;
    transition: 'top 0.2s'
    
  
}



#zapare {
    font-size: 25px !important;
    font-weight: 600 !important;
    margin-left: 10px;
    color: #003a78;
}

#logo{
    width: 20%;
}
.nav-link {
    font-weight: 400;
    font-size: 18px !important;
    color: #4b4b4b;
}

.navbar-toggler {
    outline: none !important;
}
@media(max-width:600px){
    #zapare {
        font-size: 20px !important;
        
        
        color: #003a78;
    }
 
  .navbar-brand{
      margin-left: 25%;
  }
  #toggle-btn{
      margin-top: -12%;
      margin-left: -5%;
  }
  
  
}
@media(max-width:320px){
    .navbar-brand{
        margin-left: 16%;
    }
    #toggle-btn{
        margin-top: -15%;
        margin-left: -12%;
    }
}