
ul{
    margin-left: auto;
}
#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {

    background-color: white;
    padding: 30px !important;
    margin: 0 10px 0 10px !important;
}

#zapare {
    font-size: 25px !important;
    font-weight: 600 !important;
    margin-left: 10px;
    color: #003a78;
}


.nav-link {
    font-weight: 400;
    font-size: 18px !important;
    color: #4b4b4b;
}

.navbar-toggler {
    outline: none !important;
}