#hero-image{
    height: 80%;
    
}
#wrapper{
   margin-top: 15% !important;
}

  
.animate__animated.animate__backInUp{
    --animate-duration: 4s;
    font-size: 60px;
    color: #003a78;
    font-weight: bold;
  }
  .animate__animated.animate__fadeIn{
    --animate-duration: 6s;
    
    color: #003a78;
    
  }
h4{
    color: #003a78;
    cursor: pointer;
    
     transition: ' -webkit-transition: 1.5s ease';
}

.underbar{
    width: 0;
    height: 5px;
    background: #003a78;
    
    
    transition: ' -webkit-transition: 1.5s ease';
  }
  #staff-augmentation ~ .underbar{
    left: 0;
    width: 210px;
    overflow: hidden;
    background: #ffe600;
  }
  #staff-augmentation{
    width: 250px;
  }
  #staff-augmentation:hover ~ .underbar{
    left: 0;
    width: 200px;
    overflow: hidden;
    background: #003a78;
  }
  #product-management ~ .underbar{
    left: 0;
    width: 240px;
    overflow: hidden;
    background:  #ffe600;
  }
  #product-management{
    width: 250px;
  }
  #product-management:hover ~ .underbar{
    left: 0;
    width: 240px;
    overflow: hidden;
    background: #003a78;
  }
  #revenue-management ~ .underbar{
    left: 0;
    width: 310px;
    overflow: hidden;
    background:  #ffe600;
  }
  #revenue-management{
    width: 340px;
  }
  #revenue-management:hover ~ .underbar{
    left: 0;
    width: 300px;
    overflow: hidden;
    background: #003a78;
  }
@media(max-width:600px){
  #hero-image{
    margin-top: 20%;
  }
  .animate__animated.animate__backInUp{
    --animate-duration: 4s;
    font-size: 30px;
    color: #003a78;
    font-weight: bold;
  }
}
@media(max-width:992px){
  #hero-image{
   
    margin-right: 5%;
    
  }
  .animate__animated.animate__backInUp{
    --animate-duration: 4s;
    font-size: 30px;
    color: #003a78;
    font-weight: bold;
  }
}
